[build]
builder = "NIXPACKS"
buildCommand = "npm ci --legacy-peer-deps"

[deploy]
startCommand = "node server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 300
numReplicas = 1
